>.k-autocomplete{
  background: white none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;

  >.k-inpt{
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    width: 100%;
  }

}